<div class="modal fade" 
     id="newControllerModal" 
     tabindex="-1"
     data-controller="modal"
     aria-labelledby="newControllerModalLabel" 
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newControllerModalLabel">Nuevo Controlador</h5>
        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      
      <%= form_with(model: @new_controller, 
                    scope: :controller_model,
                    local: true,
                    data: { action: "submit->modal#submitForm" }) do |f| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :name, 'Nombre', class: 'form-label' %>
            <%= f.text_field :name, class: 'form-control', required: true %>
          </div>
          
          <div class="mb-3">
            <%= f.label :location, 'Ubicación', class: 'form-label' %>
            <%= f.text_field :location, class: 'form-control', required: true %>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" 
                  class="btn btn-secondary" 
                  data-bs-dismiss="modal">Cancelar</button>
          <%= f.submit 'Crear Controlador', 
                      class: 'btn btn-primary',
                      data: { disable_with: 'Creando...' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>